@import url('https://fonts.googleapis.com/css2?family=Are+You+Serious&display=swap');
img {
    height: 15%;                                    /*Hoi Micha*/
    width: 15%;
}
a 
{
    text-decoration: none;
}
.Buttons > a:hover , #contact > a:hover
{
    background-color:#AAAAAA;
    color:#FFF;
}
nav > ul > li > a:link , a:visited
{
    color: #F29E3A;
    font-family: 'Are You serious', cursuve; 
    font-size:x-large;
}
nav
{
    background-color:#F29E3A;
    height: 119px;
}
nav > ul > li
{
height: 18.4px;
width:auto; 
}
nav > a 
{   
    margin-top: 10px;
    width : 5%;
    height : 45px;
    float: left;
}
nav > a > img
{
    margin: 20px;
    height: 65px;
}
nav > ul
{
    line-height: 3em;
    width : 1443.25px;
    float : right;
    text-align: left;
    list-Style: none;
    padding: 0;
    margin-top: 5px;
    margin-bottom: -5px;
}
nav > ul > li
{ 
    display: inline;
}
#logo
{ 
    padding-top: 15px;
    margin: 3px;
    height: 70px;
    width: 70px;
}

.Buttons > a
{
    padding-left: 7.62%;
    padding-right: 7.62%;
    border-width: 2px;
    border-color: #AAAAAA;
    border-style: solid;
    text-align: center;
    float:left;
    margin-left:0;
    margin-right: 0;
    background-color: #FFF;

}
#AreYouSerious > a 
{
    margin-inline-end: 70%;
    margin-left: 0px;
    margin-top: 10px;
    font-size: 1.8em;
    float: left;
    color: #FFF;
}
#contact > a
{
    float: left;
    margin-top: 10px;
    position:static;
    background-color: #FFF;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 5px;
}
#titel
{
    text-align: center;
    background-color: #FFF;
    color: #F29E3A;
    font-family: 'Are You Serious', cursive;
    font-size: xx-large;
    font-weight: lighter;
    margin-top: 0px;
    padding: 5px;
    border-width: 10px;
    border-color: #AAAAAA;
}
#inleiding
{
  color: #FFF;
  margin-left: 150px;
  margin-right: 150px;
  line-height: 1.41; 
}
.flex
{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    position: relative;
    text-align: center;
}
.image
{  
    height: 300px;
    width: 325px;
    object-fit: cover;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px;
    border-width: 10px;
    border-color:#F29E3A;
    border-style: solid;
}
.text 
{
  padding: 1em;
  margin-top: 6em;
  height: fit-content;
  font-size: x-large;
  background-color:#F29E3A;
  color: #FFF;
}
.homepagefooter
{
text-align: center;
color: #FFF;
padding: 15px;
margin-top: 10px;
margin-bottom: -6.8px;
background-color: #000;
}
Footer
{
text-align: center;
color: #FFF;
padding: 15px;
margin-top: 10px;
margin-bottom: -6.8px;
background-color: #000;
max-height: 48.4px;
float: left;
width: 1519.2px;
padding-right: 0;
padding-left: 0;
}
body
{
background-color: #9451C9;
margin-top: -12px;
margin-left: 0;
margin-right: 0;
font-family: Arial, Helvetica, sans-serif;
}

.ingredients
{
    float: left;
    margin: 100px;
    margin-top: 0;
    margin-bottom: 10px;
    width: 40%;
    height: auto;
}
.Detailpagina
{
    color: #FFF;
    float: left;
}
#CupcakeFirstArticle
{   
    clear: left;
    margin: 10px;
    margin-left: 100px;
    float: left;
    width: 40%;
}
#CupcakeSecondArticle 
{
    clear: left;
    margin: 10px;
    margin-left: 100px;
    float: left;
    width: 40%;
}
.Detailpagina > aside
{  
   position: absolute;
   margin-left: 55%;
   width: 40%;
   border-style: solid;
   border-color:#F29E3A;
   border-width:10px;
   color:#000;
   padding: 10px;
   background: #FFF;
   border-radius: 10px;
   
}
#beslag
{
    width: 20%;
    height: 180px;
    margin-top: 20%;
    margin-left: 2%;
    object-fit: cover;
    margin-right: 2.5%;
}
#garecupcakes
{
    width: 15%;
    height: 180px;
    margin-top: 1%;
    object-fit: cover; 
}
#eindproduct
{
    width: 37.5%;
    margin: 2.5%;
    margin-left:8%;
}
.head
{
    Font-family: 'Are You Serious', cursive;
    font-size: xxx-large;
    font-weight:100;
    margin: 0;
    
}
#AppeltaartFirstArticle
{
  float: left;
  clear: left;
  width: 42.5%;
  margin: 0;
  margin-left: 7.5%;
  
}
#AppeltaartSecondArticle 
{
    float: left;
    clear: left;
    width:42.5%;
    margin:0;
    margin-left: 7.5%;
}
#AppeltaartBakvorm
{
    margin-top: 350px;
    margin-left: 100px;
    width: 20%;
    height: auto;
}
#AppeltaartSlagroom
{
    margin-left: 148px;
    height: 200px;
    width: 400px;
    object-fit: cover;
    margin-top: 30px;
}
#KoekjesFirstArticle 
{
    float: left;
    clear: left;
    width: 40%;
    margin-left: 100px;
}
#KoekjesSecondArticle
{   text-indent: 20px;
    float: left;
    clear: left;
    width: 40%;
    margin-left:100px;
}
#KoekjesNaOven
{
    Margin-left: 40px;
    Margin-top: 310px;
    height: 180px;
    width: 500px;
    object-fit:cover;
}
#VersierdeKoekjes
{
    margin-left: 140px;
    margin-top: 20px;
    height: 240px;
    width: 500px;
    object-fit: cover;
}
#WeetjesArticle > ul > li
{
    list-style: none;
    letter-spacing: 0.1px;
    line-height:25px;
    word-spacing: 1px;
}
#WeetjesArticle > ul
{
 margin-left: 25%;
 margin-right: 25%;
 width: 50%;
 border-style: solid;
 border-color:#F29E3A;
 border-width:10px;
 color:#000;
 padding: 20px;
 background: #FFF;
 border-radius: 10px;
 z-index:9996;
}
#WeetjesArticle
{
    position: relative;
}
#AppeltaartWeetjes 
{
    z-index: 9998;
    height: 50%;
    width: 400px;
    object-fit: cover;
    float: right;
    position: absolute;
   float: left;
   margin-left: 620px;
   margin-top: 100px;
}
#CupcakesWeetjes
{
    z-index: 9997;
    height: 50%;
    width: 400px;
    object-fit: cover;
    float: left;
   position: absolute;
   margin-left: 770px;
   margin-top: 200px;
}
#StroopwafelWeetjes
{
    z-index: 9999;
    height: 50%;
    width: 400px;
    object-fit: cover;
    float:left;
    position: absolute;
    margin-left: 420px;
}
#FooterWeetjes
{
    text-align: center;
color: #FFF;
padding: 15px;
margin-top: 460px;
margin-bottom: -6.8px;
background-color: #000;
max-height: 48.4px;
float: left;
width: 1519.2px;
padding-right: 0;
padding-left: 0;
}
.Contactpagina > form
{
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    height: auto;
    border-style: solid;
    border-color:#F29E3A;
    border-width:10px;
    color:#000;
    padding: 20px;
    background: #FFF;
    border-radius: 10px;
    margin-bottom: 56px;
}
.Contactpagina > form > p1
{
    margin-right: 300px;
}
.Contactpagina > form > p2
{
    margin-right: 470px;

}
#Email , #Onderwerp , .Contactpagina > form > label1
{
    margin-right: 600px;
    margin-top: 22px;
    margin-bottom: 22px;
}
#Vraag
{
    margin-right: 600px;
    margin-top: 10px;
    margin-bottom: 10px;
    
}
.Contactpagina > form > label2
{
    margin-right: 500px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.Contactpagina > form > label3
{
    margin-right: 500px;
}
#Button
{
    Margin-right: 700px;
    margin-top: 13px;
    margin-bottom: 10px;
}

form > p1 , form > p2
{
    font-family: 'Are You Serious', cursive;
    margin-bottom: 20px;
    display: block;
}
form > p1
{
    font-size: xx-large;
    color: #50BE1C;
}
form > p2
{
    font-size: x-large;
    color:#F29E3A;
}
form > p3
{
    margin-top: 10px;
    margin-bottom:20px;
    display: block;
}
a.text
{
    Color: #FFF;
}


